<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.experiencers.playeasy">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name=".application.KaKaoSdKInit"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayEasy">

        <activity android:name=".view.landing.LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.login.LoginActivity"/>
        <activity android:name=".view.main.activity.MainActivity"/>
        <activity android:name=".view.myinformation.MyInfoActivity"/>
        <activity android:name=".view.detailmatch.DetailMatchActivity"/>
        <activity android:name=".view.apply.activity.ApplyActivity"
            android:theme="@style/Theme.MaterialComponents.Light.Dialog"/>
        <activity android:name=".view.main.fragment.mymatch.popup.cancel.MatchCancelActivity"
            android:theme="@style/theme.myDialog"/>
        <activity android:name=".view.modifymatch.ModifyMatchActivity"/>


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="92d9a84f69cafe7a7905d8a500c23a40"/>
    </application>

</manifest>